*{
    font-family: Papyrus, sans-serif;
}

body{
	margin: 0;
    min-width: 100vh;
    width: auto;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: inherit;
    width: inherit;
}

.page header {
	background: lightblue;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: x-large;
}
.page section {
	display: flex;
	min-height: 200px;
	flex-grow: 1;
	width: available;
}

/*NAV START*/

.page section nav {
    display: flex;
	background: lightsalmon;
    flex-direction: column;
	white-space: nowrap;
	min-width: 9em;
}

.page section nav .svgTree {
    width: inherit;
    height: available;
    margin: 2vh;
    flex-grow: 0;
    transition: transform 100s ease-out;
}

.page section nav svg:hover{
    transform: rotateY(18000deg);
}

.page section nav .navMenu{
    display: flex;
    margin: 1em;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: auto;
    flex-grow: 1;
}
.page section nav .navButton{
    display: flex;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    margin: 1vh;
    padding: 2vh;
    width: inherit;
    min-height: 10vh;
    transition: background-color 0.15s ease-in-out;
}

.page section nav .navMenu svg{
    width: 10vh;
}

/*NAV END*/

/*MAIN START*/

.page section main {
	background: lightgreen;
	display: flex;
	min-height: 95vh;
	min-width: 100vh;
	width: 100%;
    height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: space-between;
    padding: 3vh;
	/*justify-content: center;*/
}

.page section main .menu{
	background: lightgreen;
	display: flex;
	height: inherit;
	width: inherit;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: space-between;
	/*justify-content: center;*/
}

.page section main .button{
	display: flex;
    font-size: x-large;
	align-items: center;
	justify-content: center;
	margin: 0.5em;
    padding: 0.5em;
	min-height: 2.5em;
	min-width: 7em;
	transition: background-color 0.15s ease-in-out;
}


.page section main .levels{
    display: flex;
    height: inherit;
    width: inherit;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    /*justify-content: center;*/
}

.page section main .card{
    display: flex;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2vh;
    padding: 2vh;
    min-height: 20vh;
    min-width: 20vh;
}

.page section main .sectionPlate{
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5em;
    padding: 1em;
    background-color: #eeeccc;
    min-height: inherit;
    min-width: inherit;
}

.page section main .sectionPlate .svgSectionTree{
    width: inherit;
    height: available;
    margin: 2vh;
}

.page section main .sectionPlate form{
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    width: inherit;
}

.page section main .sectionPlate div{
    margin: 0.3em;
    width: 100%;
}

.page section main .sectionPlate *{
    font-size: large;
}

.page section main .sectionPlate input, .page section main .sectionPlate textarea{
    font-family: sans-serif;
    width: 100%;
}

/*.page section main .sectionPlate input:nth-child(2n) {*/
    /*display: flex;*/
    /*flex-basis: 100%;*/
/*}*/

.page section main .button, .page section main .card{
    background-color: #eeeccc;
    transition: background-color 0.15s ease-out;
}

.page section main .button:hover, .page section main .card:hover{
	background-color: #dddbbb;
}

.page section nav .navButton:hover{
    background-color: #FFB18B;
}

.page section main .startButton::before{
	content: 'Start';
}

.page section main .continueButton::before{
	content: 'Continue';
}

.page section main .optionsButton::before{
	content: 'Options';
}

.page section main .aboutButton::before{
	content: 'About';
}

/*MAIN END*/

.page section nav .saveGameButton::before{
    content: "Save Game";
}

.page section nav .backButton::before{
    content: 'Back';
}

.page section nav .checkSolutionButton::before{
    content: 'Check solution';
}


.page section aside {
	background: lightgoldenrodyellow;
	width: 200px;
	padding: 1em;
	display: flex;
	justify-content: center;
}
.page footer {
	display: flex;
	background: lightcoral;
	min-height: 100px;
	justify-content: center;
	align-items: center;
}



@media screen and (max-width: 780px){
	.page section{
		flex-direction: column;
	}
    .page section nav{
        min-height: 5vh;
        height: 20vh;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .page section nav .navMenu{
        flex-direction: row;
        height: auto;
    }
    .page section nav .svgTree{
        min-width: 5vh;
        height: auto;
        margin: 0.5em;
        flex-grow: 0;
    }

    .page section main{
        padding: 0;
    }
}


